<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640420150976-gvoggsbooe7sj5gjksgmsb859c3qhe35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640420150976-gvoggsbooe7sj5gjksgmsb859c3qhe35</string>
	<key>API_KEY</key>
	<string>AIzaSyBlLiXJfzMMpfCPNdHmi14HK_Qcw0ZNNMo</string>
	<key>GCM_SENDER_ID</key>
	<string>640420150976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vtp.VideoPlay</string>
	<key>PROJECT_ID</key>
	<string>videoplay-bitel-ga4</string>
	<key>STORAGE_BUCKET</key>
	<string>videoplay-bitel-ga4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640420150976:ios:4cecd224b5755bbd3e7725</string>
</dict>
</plist>