<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MeuClip.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
				<key>dateExpires</key>
				<string>18/10/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DateToolsSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EasyNotificationBadge.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GRKGradientView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MIBadgeButton_Swift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PureLayout.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RAReorderableLayout.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RSKKeyboardAnimationObserver.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RSKPlaceholderTextView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVPullToRefresh.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0270DFB3198F5AC18A9BC0275AAB1281540EA113</string>
						<key>dateExpires</key>
						<string>18/10/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>W63H6HF9MH.com.movitel.meuclip.MeuSeviceExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>W63H6HF9MH</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>W63H6HF9MH.com.movitel.meuclip.MeuSeviceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>MeuSeviceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>f8db26d4-bb07-41fc-bc45-00f9908af245</string>
						<key>name</key>
						<string>meuService</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W63H6HF9MH</string>
						<key>name</key>
						<string>MOVITEL SA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W63H6HF9MH.com.movitel.meuclip</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>W63H6HF9MH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MeuClip.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cb8022bb-1048-495c-bc1f-cbe81a03d934</string>
				<key>name</key>
				<string>MeuProvision</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W63H6HF9MH</string>
				<key>name</key>
				<string>MOVITEL SA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
